<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
 
<connectionStrings><add name="QUANLYKHACHSANEntities" connectionString="metadata=res://*/Model.QLKhachSan.csdl|res://*/Model.QLKhachSan.ssdl|res://*/Model.QLKhachSan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VQ14A50\SQLEXPRESS;initial catalog=QUANLYKHACHSAN;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>